
.vs/scp035/v16/.suo
scp035/bin/Debug/0Harmony.dll
scp035/bin/Debug/Assembly-CSharp-firstpass.dll
scp035/bin/Debug/Assembly-CSharp.dll
scp035/bin/Debug/DissonanceVoip.dll
scp035/bin/Debug/Mirror.dll
scp035/bin/Debug/NorthwoodLib.dll
scp035/bin/Debug/Qurre.dll
scp035/bin/Debug/scp035.dll
scp035/bin/Debug/scp035.pdb
scp035/bin/Debug/System.Buffers.dll
scp035/bin/Debug/System.Memory.dll
scp035/bin/Debug/System.Numerics.Vectors.dll
scp035/bin/Debug/UnityEngine.AudioModule.dll
scp035/bin/Debug/UnityEngine.CoreModule.dll
scp035/bin/Debug/UnityEngine.PhysicsModule.dll
scp035/bin/Debug/UnityEngine.UI.dll
scp035/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
scp035/obj/Debug/scp035.csproj.CopyComplete
scp035/obj/Debug/scp035.csproj.CoreCompileInputs.cache
scp035/obj/Debug/scp035.csproj.FileListAbsolute.txt
scp035/obj/Debug/scp035.csprojAssemblyReference.cache
scp035/obj/Debug/scp035.dll
scp035/obj/Debug/scp035.pdb
